<?xml version="1.0" ?>


<launch>
    
    
    <arg name="robot" default="magna"/>
    <arg name="strAng" default="0.0595"/>
    <arg name="constVel" default="8.0"/>
    <param name="/$(arg robot)/constVel" value="$(arg constVel)"/>
    <param name="/$(arg robot)/strAngle" value="$(arg strAng)"/>
    <group ns="$(arg robot)">
        <node name="cmd_sparkle_$(arg robot)" pkg="sparkle" type="cmd_sparkle" output="screen">
            <!--remap from="/$(arg robot)/cmd_vel" to="/$(arg robot)/cmd_control_vel"/-->
        </node>
        <!--node name="hoffmansubsystem_$(arg robot)" pkg="hoffmansubsystem" type="hoffmansubsystem_node" output="screen">

        </node-->
        <node name="model_state_$(arg robot)" pkg="sparkle" type="model_state" output="screen">
            <param name="enableTwist" value="false"/>
        </node>
    </group>
</launch>
